html {
    font-size: 16 px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #E1D4C9;
    font-size: 1.6rem;
    }

img {
    max-width: 100%;
    height: auto;
}    

.hidden {
    display: none;
}    

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.header__list {
    list-style-type: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.header__item {
    margin-right: 2.5 rem;
    padding-bottom: 0.25rem;
}


.header__link_menu {
    display: flex;
    height: 1.75rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.header__link {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
}


.promo__title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.special {
    color: var(--text-accent, #B0907A);
    font-style: italic;
}

.promo__description {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.btn__rectangular {
    display: flex;
    width: 12.5rem;
    padding: 1.25rem 4.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    border: 0;
    background: #E1D4C9;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-weight: 600;
    line-height: 150%; 
}

.promo__content {
    display: flex;
    width: 33.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.promo__wrapper {

display: flex;
max-width: 85rem;
padding: 6.25rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
border-radius: 2.5rem;
background: url(img/img-hero.jpg), lightgray 50% / cover no-repeat;
max-width: 1440px;
    width: 100%;
    margin: 0 auto
}

.promo {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.section__name {
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    margin-top: 6.25rem;
}


.slider__item {
    display: flex;
    flex-direction: column;
    width: 30rem;
    /* height: 30rem; */
    align-self: stretch;
    text-align: center;
}

.slider__item__name {
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-top: 1.25rem;
}

.slider__item__description {
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slider__item__price {
    color:#403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.favourite__slider {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    align-items: center;
    align-self: stretch;
}

.btn_round {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    border: 1px solid  #665F55;
    background: #E1D4C9
}

.favourite__controls {
    display: flex;
    /* align-items: flex-start; */
    align-items: center;
    gap: 0.75rem;
}

.favourite__controls__item {
    width: 2.5rem;
height: 0.25rem;
border-radius: 6.25rem;
background: #C1B6AD;
}

/* .favourite__control__selected {
   background: #665F55;
} */

.section__name__about {
  align-self: stretch;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-size: 3.75rem;
  margin-top: 6.25rem;
  margin-bottom: 2.5rem;
}

.about__wrapper {
 
 max-width: 1440px;
  width: 100%;
  margin: 0 auto;  
  /* 
  grid-template-columns:repeat(2, 1fr);
  grid-gap:0 2.5rem;
  
  display: grid; */
/* gap:0 2.5rem; */
display:grid;

grid-gap: 2.5rem;
grid-auto-flow: column;
}

.section__mobile {
    display: flex;
    max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;

}


.footer {
    gap: 6.25rem;
    display: flex;
    max-width: 85rem;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    gap: 6.25rem;
    align-self: stretch;
    border-radius: 2.5rem;
    border: 1px solid #665F55;
    background: #665F55;
}

.footer__link:hover{border-bottom:2px solid #e1d4c9}

.footer__info{display:inline-flex;
    gap:0 8px;
    font-family:"Inter",sans-serif;
    color:#e1d4c9;text-decoration:none;
    font-size:16px;
    font-style:normal;
    font-weight:600;
    line-height:150%;
    padding-bottom:4px;
    border-bottom:2px solid rgba(0,0,0,0);
    transition:all .3s linear}


.btn__round__dark {
    background: #665F55;
     text: #E1D4C9;
    display: flex;
width: 3.75rem;
height: 3.75rem;
justify-content: center;
align-items: center;
border-radius: 6.25rem;
border: 1px solid #C1B6AD;
}

.section__name_footer {
    color: var(--text-light, #E1D4C9);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 3.75rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 4.6875rem */
max-width: 33.125rem;
text-align: left;
}

.footer__column1 {
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
gap: 2.5rem;
flex: 1 0 0;
margin-left: 6.25rem;
margin-bottom: 6.25rem;
}


.footer_socialmedia {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 0.75rem;
}

.footer__contactUs {
    color:  #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
}


.footer__contactUs__wrap {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}

.footer__heading {
    color: var( #E1D4C9);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%;
}


.btn__dwnld {
    display: flex;
width: 12.5rem;
padding: 0.75rem 1.25rem;
align-items: center;
gap: 0.5rem;
border-radius: 6.25rem;
border: 1px solid var(--border-dark, #665F55);
}


/* menu styles */

.section__title_menu {
    width: 50rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.25rem;
    text-align:center;
    margin-bottom:2.5rem;
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; }

.menu__categories {
    display: flex;

    justify-content:center;
    gap:0 1rem;
    list-style-type:none;
    }

.btn__category {
    display:flex;
    align-items:center;
    gap:0 0.5rem;
    background:rgba(0,0,0,0);
    padding:0.5rem 1rem 0.5rem 0.5rem;
    border-radius:6.25rem;
    border:1px solid #c1b6ad;
    font family:"Inter",sans-serif; 
    color:#403f3d;
    font-size:1rem;
    font-style:normal;
    font-weight:600;
    line-height:150%;
    cursor:pointer;
    transition:all .3s linear
}

.category__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.category__item {
    display: flex;
    flex-direction: column;
    width: 19.375rem;
height: 31.625rem;
flex-shrink: 0;
border-radius: 2.5rem;
cursor:pointer;
border: 1px solid #C1B6AD;

}

/* display:grid;
grid-template-columns:1fr;
grid-template-rows:1fr 72px 1fr;
grid-gap:12px 0;
gap:12px 0;
padding:20px;
color:#403f3d;
font-family:"Inter",sans-serif} */


.category__item__photo {

border: 1px solid  #C1B6AD;
display:block;
width:100%;
overflow: hidden;
border-radius: 2.5rem;
transition:all .3s linear;
transform:scale(1.1);
object-fit: cover;
}

.category__item:hover .category__item__photo{transform:scale(1.2)}

.category__item__name {
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Heading/heading-3 */
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 1.875rem */
}

.category__item__description {
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Body/medium */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
}

.category__item__price {
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Heading/heading-3 */
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 1.875rem */
}

.btn__round:hover {
    border-color:#e1d4c9;
    background:#e1d4c9
}

.btn__round:hover svg{stroke:#403f3d}