html {
    font-size: 16 px;
    box-sizing: border-box;
 
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #E1D4C9;
    font-size: 1.6rem;
    }

img {
    max-width: 100%;
    height: auto;
}    

.hidden {
    display: none;
}    

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    Padding: 1.25rem 2.5rem;
}

.header__list {
    list-style-type: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    /* flex: 1 0 0; */
    align-self: stretch;
}

.header__item {
    margin-right: 2.5 rem;
    padding-bottom: 0.25rem;
}


.header__link_menu {
    display: flex;
    height: 1.75rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    transition: 0.6s;
    border-bottom: 2px solid #E1D4C9;
    padding: 2px 0;
     
  }
  .header__link_menu:hover {
    border-bottom: 2px solid #403F3D;
  }
  
.logo__img {
    display:flex;
    align-items:center;
    justify-content: center;
}


.header__link {
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    transition:all .3s linear;
}

.button_icon_burger {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    border: 1px solid  #665F55;
    background: #E1D4C9
}

.burger_icon_wrapper {
     display: none;
}



.header__link:hover {
    border-bottom: 2px solid #403F3D;
  }


.promo__title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.special {
    color: var(--text-accent, #B0907A);
    font-style: italic;
}

.promo__description {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* .btn__rectangular__promo {
    display: flex;
    width: 12.5rem;
    padding: 1.25rem 4.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    border: 0;
    background: #E1D4C9;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-weight: 600;
    line-height: 150%; 
}  */

.btn__promo {color: pink;}


.btn__promo {
    display: block;
    position: relative;
    background-color: #E1D4C9;
    color: #403F3D;
    border: none;
width: 12.5rem;
padding: 1.25rem 4.875rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
    cursor: pointer;
    color: var(--text-dark, #403F3D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.5rem */
text-decoration: none;
border-radius: 6.25rem;

  }
  
  .btn__promo::after {
    display: inline-block;
    position: absolute;
    content: "";
    transform: translateY(2px);
    margin-left: 8px;
    width: 20px;
    height: 20px;
    background-image: url(..img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s;
  }
  
  .btn__promo:hover .menu__button__text{
    border-bottom: 2px solid #403F3D;}

  .btn__promo:hover::after {
    top: 27%;
    background-image: url(..img/coffee-cup-for-button.svg);
  }

.promo__content {
    display: flex;
    width: 33.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.promo__wrapper {

display: flex;

/* max-width: 85rem; */
padding: 6.25rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
border-radius: 2.5rem;
background: url(img/img-hero.jpg), lightgray 50% / cover no-repeat;
/* max-width: 1440px; */
/* width: 100%; */
background-size:cover;
margin: 0 auto
}

.promo {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 1.25rem; */
    Padding: 0 2.5rem;
}

.favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    Padding: 0 2.5rem;
   
}



.section__name {
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    
    margin-top: 6.25rem;
}


.slider__item {
    display: flex;
    flex-direction: column;
    width: 30rem;
    /* height: 30rem; */
    align-self: stretch;
    text-align: center;
}

.slider__item__name {
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-top: 1.25rem;
}

.slider__item__description {
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slider__item__price {
    color:#403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.favourite__slider {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5rem;
    align-items: center;
    align-self: stretch;
}

.btn_round {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    border: 1px solid  #665F55;
    background: #E1D4C9
}

.favourite__controls {
    display: flex;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 2.5rem;
}

.favourite__controls__item {
    width: 2.5rem;
height: 0.25rem;
border-radius: 6.25rem;
background: #C1B6AD;
}


/* .btn__rectangular {
color: var(--text-dark, #403F3D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.5rem */
text-decoration: none;
} */

.favourite__controls__item__selected {
   background: #665F55;
} 

.favourite__slider__left,
.favourite__slider__right {
  cursor: pointer;
}

.favourite__slider__left path, .favourite__slider__left svg, .favourite__slider__left rect,
.favourite__slider__right, .favourite__slider__right svg, .favourite__slider__right rect {
  transition-property: stroke, fill;
  transition-duration: 0.4s;}


.favourite__slider__left:hover path {
    stroke: #E1D4C9;
  }
  
  .favourite__slider__left:hover svg {
    fill: #665F55;
  }
  
  .favourite__slider__right:hover path {
    stroke: #E1D4C9;
  }
  
  .favourite__slider__right:hover svg {
    fill: #665F55;
  }


.section__name__about {
  text-align: left;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-size: 3.75rem;
  margin-top: 6.25rem;
  margin-bottom: 2.5rem;
  Padding: 0 2.5rem;
}

.section__about {
    Padding: 0 2.5rem;
}

.about__wrapper {
 
 max-width: 1440px;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden; 

display: flex;
flex-wrap: wrap;
gap: 2.5rem;
Padding: 0 2.5rem;

}

.about__wrapper_column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: right;
    align-items: flex-end;
  
 
    
  }

/* .about__item:hover {transform:scale(1.2)} */

.about__item {
    overflow: hidden;
    border-radius: 1.25rem;
}
    
.mobile__wrapper {
   
    padding-top: 2.5rem;
    max-width: 39.375rem;
    margin-bottom: 5rem;    
}



.section__mobile {
    display: flex;
    max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 6.05rem;
  margin-bottom: 6.25rem;
  gap: 2.5rem;
  Padding: 0 2.5rem;

}

.section__name__mobile {
    text-align: left;
    margin-bottom: 2.5rem;
}


.btn__dwnld {
    display: flex;
    align-items: center;
    gap: 0 8px;
    text-decoration: none;
    border: 1px solid #403f3d;
    border-radius: 100px;
    width: 200px;
    height: 64px;
    padding: 0 20px;
    font-family: "Inter",sans-serif;
    color: #403f3d;
    transition: all .3s linear;
    margin-top: 2.5rem;
    cursor: pointer;
   }


.btn__dwnld:hover {
    background-color: #665F55;
  }
  
  .btn__dwnld:hover path {
    stroke: transparent;
    fill: #E1D4C9;
  }
  
  .btn__dwnld:hover svg {
    fill: transparent;
  }
  
  .btn__dwnld:hover .btn__content__firstline,
  .btn__dwnld:hover .btn__content__secondline {
    color: #E1D4C9;
  }

.mobile__img {
 /* width: 39.375rem;
    height: 39.375rem; */
    /* width: 50%; */
    /* display:flex;
    justify-content:flex-end; */
    display: flex;
    justify-content: end;
    padding-left: 3.4rem;
}

.mobile__tools {
    display:flex;
    gap: 1.25rem;
}

.dwnld_desc {
color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;
/* Desktop/Body/medium */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
}

.btn__content__firstline {
font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: block;
    margin-block-start: 1rem;
    
}

.btn__content__secondline {
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-block-end: 1em;
}

.footer {
    
    display: flex;
    max-width: 85rem;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    /* align-self: stretch; */
    border-radius: 2.5rem;
    border: 1px solid #665F55;
    background: #665F55;
    margin-top: 3rem;
    
}

.footer__link:hover{border-bottom:2px solid #e1d4c9}

.footer__info{
    display:inline-flex;
    gap:0 8px;
    font-family:"Inter",sans-serif;
    color:#e1d4c9;
    text-decoration: none;
    font-size:16px;
    font-style:normal;
    font-weight:600;
    line-height:150%;
    padding-bottom:4px;
    border-bottom:2px solid rgba(0,0,0,0);
    transition:all .3s linear;}

.footer__link {
    text-decoration: none;
    color: var(--text-light, #E1D4C9);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Action/link & button */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.5rem */
}


.btn__round__dark {
    background: #665F55;
     text: #E1D4C9;
    display: flex;
width: 3.75rem;
height: 3.75rem;
justify-content: center;
align-items: center;
border-radius: 6.25rem;
border: 1px solid #C1B6AD;
}

.section__name_footer {
    color: var(--text-light, #E1D4C9);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 3.75rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 4.6875rem */
max-width: 33.125rem;
text-align: left;
}

.footer__column1 {
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
gap: 2.5rem;
flex: 1 0 0;
margin-left: 6.25rem;
margin-bottom: 6.25rem;
}


.footer_socialmedia {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 0.75rem;
}

.footer__contactUs {
    color:  #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    
    padding-top: 2rem;
}


.btn__round__dark path, .btn__round__dark svg, .btn__round__dark rect {
    transition-property: stroke, fill;
    transition-duration: 0.4s;
  }
  
  .btn__round__dark:hover path {
    stroke: #665F55;
    fill: transparent;
  }
  
  .btn__round__dark:hover svg {
    fill: #E1D4C9;
  }


.footer__contactUs__wrap {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
padding-bottom: 2.5rem;

}

.footer__heading {
    color: var( #E1D4C9);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%;
}


.btn__dwnld {
    display: flex;
width: 12.5rem;
padding: 0.75rem 1.25rem;
align-items: center;
gap: 0.5rem;
border-radius: 6.25rem;
border: 1px solid var(--border-dark, #665F55);
}


/* menu styles */

/* .main {
    max-width: 90rem;
    width: 100%;
} */

.header__link_menu_selected {
    cursor: none;
    border-bottom: 2px solid #403F3D;
}

.section__title_menu_behind {
    width: 50rem;
    margin: 0 auto;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;}


.menu__categories {
    display: flex;
    justify-content:center;
    gap:0 1rem;
    list-style-type:none;
    margin-top: 2.5rem;
    Padding: 0 2.5rem;
     /* position: absolute;
    top: -10px;
    left: -10px; */
    }

.btn__category {
    display:flex;
    align-items:center;
    /* gap:0 0.3rem; */
    background:rgba(0,0,0,0);
    padding:0.5rem 1rem 0.5rem 0.5rem;
    border-radius:6.25rem;
    border:1px solid #c1b6ad;
    color:#403f3d;
    font-size:1rem;
    font-style:normal;
    font-weight:600;
    line-height:150%;
    cursor:pointer;
    transition:all .3s linear;
}

.btn_smallCircle {
    width: 1.875rem;
   height: 1.875rem;
   margin-right: 0.5rem;
   background-color: #C1B6AD;
   border-radius: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
}

.btn__category:hover{background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9); }

    .btn__category:hover .btn_smallCircle {background-color: #E1D4C9;}


.btn__category__selected {
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
}

.btn_smallcircle__selected {
   background-color: #E1D4C9;
}



/* .btn__category{
    display:flex;
    align-items:center;
    gap:0 8px;
    background:rgba(0,0,0,0);
    padding:8px 16px 8px 8px;
    border-radius:100px;
    border:1px solid #c1b6ad;
    font-family:"Inter",sans-serif;
    color:#403f3d;
    font-size:16px;
    font-style:normal;
    font-weight:600;
     width:30px;
    height:30px;
    border-radius:100%;
    background-color:#c1b6ad;
    transition:all .3s linear */
/* } */

/* .menu__nav{display:flex;
    justify-content:center;
    gap:0 16px;
    list-style-type:none;
    margin-bottom:37px
}
    


.menu__nav-btn_active,
.menu__nav-btn:hover{
    background:#665f55;
    border-color:#665f55;
    color:#e1d4c9}
    
.menu__nav-btn_active 
.menu__nav-pict,
.menu__nav-btn:hover 
.menu__nav-pict{
    background:#e1d4c9}
    
.menu__nav-btn_active{
    cursor:default
}line-height:150%;
    cursor:pointer;
    transition:all .3s linear
}

.menu__nav-pict{
    display:flex;
    justify-content:center;
    align-items:center;
    */

.category__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 6.25rem;
    align-items: stretch;
    Padding: 0 2.5rem;
    margin-top: 2.5rem;
}

.category__item {
    display: flex;
    flex-direction: column;
    width: 19.375rem;
/* height: 31.625rem; */
/* flex-shrink: 0; */
border-radius: 2.5rem;
cursor:pointer;
border: 1px solid #C1B6AD;
overflow: hidden;

}

/* display:grid;
grid-template-columns:1fr;
grid-template-rows:1fr 72px 1fr;
grid-gap:12px 0;
gap:12px 0;
padding:20px;
color:#403f3d;
font-family:"Inter",sans-serif} */


.category__item__photo {

border: 1px solid  #C1B6AD;
display:block;
overflow: hidden;
border-radius: 2.5rem;
transition:all .3s linear;
transform:scale(1.1);
object-fit: cover; 
width: 19.375rem;
height: 19.375rem;
}




.category__item:hover .category__item__photo{transform:scale(1.2)}

.category__item__name {
    display: inline-block;
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Heading/heading-3 */

font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 1.875rem */
}

.category__item__description {
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Body/medium */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
}

.category__item__price {
    color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop/Heading/heading-3 */
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 1.875rem */
}

.category__item__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 12.25rem;
    padding: 1.25rem;
}

.category__item__name {
    padding-bottom: 0.75rem;
    align-self: start;
}

.category__item__price {
    align-self: start;
}

.category__item__price {
     margin-top: auto;
  }

.btn__round:hover {
    border-color:#e1d4c9;
    background:#e1d4c9
}

.refresh__button__wrapper {
    display: none;
}

.btn__round:hover svg{stroke:#403f3d}



@media screen and (max-width: 768px) {
    .burger_icon_wrapper {
        display: block;
    }

    .header__nav {
        display: none;
        /* position: fixed;
        width: 100%;
        height: 100%;
        background: var(--background-body, #E1D4C9);
        z-index: 10;
        transform: translateX(100%); */
    }

    .header__link_menu {
        display: none;
    }

    .promo__wrapper {
        padding: 6.25rem 3.75rem;
        background: url(img/img-hero.jpg),
    }

    .section__about {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .about__wrapper {
        padding-right: 0rem;
        gap: 0rem;
         
            padding-top: 0rem;
    }

    .about__item_3, .about__item_2 {display: none;}

    .about__item_1 {margin-bottom: 2.2rem;}

   
    .section__mobile {flex-direction: column; margin-top: 0rem;
    gap: 1rem}

    .mobile__wrapper {padding-top: 0rem; 
        padding-bottom: 0rem;
    padding-right: 0rem;
margin-right: 0rem;}

.mobile__img {padding-top: 0rem; padding-left: 1.75rem; justify-content: start;}

.footer {margin: 2.5rem;
flex-direction: column;
gap: 0rem;}

.footer__column1 {
    margin-left: 0rem;
   
 }
.footer__contactUs { padding-top: 0rem}
    
      
.category__item:nth-child(n+5), :nth-child(n+6), :nth-child(n+7), :nth-child(n+8) {
    display: none;
}

.section__title_menu_behind {
    margin-left: 0rem;
    width: 43rem;
    width: 100%;
    padding-top: 0rem;
}

.section__menu {
    display: block; 
    Padding: 0 2.5rem;
}

.category__wrapper {
    padding-left: 3.25rem;
}

.refresh__button__wrapper {
  display: flex;
    width: 100%;
        justify-content: center;
        padding-bottom: 3.75rem;
        margin-bottom: 0rem;
     
        }
 .category__wrapper {
    margin-bottom: 2.5rem;
}