.word-element, .new-container-element {
    display: inline-block;
    height: 40px;
     margin: 5px;
    padding:  5px 10px; 
    font-size: large; 
        line-height: 40px;
    text-align: center;
       color: rgb(251, 251, 252);
        background-color: rgb(124, 16, 97); 
  border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  
 
    
  }
  .word-element:hover {
    background-color: #1f2191;
  }

  #word-container {
        display: flex;
    width: 850px;
    height: 50px;

    justify-content: stretch;
    align-items: stretch;
  }

.new-container {
 
  display: flex;
  height: 60px; 
  width: 850px; 
   gap: 5px;
}

.game-container {
  display: flex;
  flex-direction: column-reverse;
  width: 850px;
  height: 750px;
  padding: 15px;
  align-items: stretch;
  justify-content: stretch;
  background-color: rgba(14, 44, 100, 0.5);
  border-radius: 20px;
  
}

.painting-container {
  width: 850px;
  height: 700px;
}

.continue-button {
  margin: 30px;
  width: 200px;
}

  /* CSS for animation */
  @keyframes moveCard {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .result-block .word-element {
    animation: moveCard 0.5s ease;

  }
  #main-wrapper {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 1278px) {
    #main-wrapper {
      display:flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }


  @media screen and (max-width: 904px) {
    .word-element, .new-container-element {
      height: 40px;
      margin: 2px;   
      padding:  2px 3px; 
      font-size: medium;
      line-height: 40px;
    }
  
    #word-container {
      width: 720px;
     }
  
  .new-container {
    width: 720px;
  }
  
  .game-container {
    width: 720px;
    height: 710px;
    padding: 5px;
  }
  
  .painting-container {
    width: 720px;
    height: 700px;
  }
  }
