.word-element, .new-container-element {
    display: inline-block;
    text-align: center;
    padding:  5px 10px; 
    height: 40px; /* Задайте высоту вашего элемента */
    line-height: 40px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(124, 16, 97);;
    border-radius: 5px;
    color: rgb(251, 251, 252);
    font-size: large;
  }
  .word-element:hover {
    background-color: #1f2191;
  }

  #word-container {
    width: 700px;
    height: 300px;
  }

#new-container {
  width: 700px;
  height: 300px;
  display: flex;
  gap: 5px;
}

  /* CSS for animation */
  @keyframes moveCard {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .result-block .word-element {
    animation: moveCard 0.5s ease;
  }