.main-container { 
  padding: 15px;
    background-color: rgb(162, 165, 241);
   }

body {
    background-color: rgb(162, 165, 241);
}

.racing-container {
    margin-top: 10px;
}

.car-bottom-wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 4px dashed rgb(143, 226, 215);
    background-image: url('../images/favicon.webp');
  background-repeat: no-repeat; 
  background-position: right center;
  background-size: contain;

}

.car-top-wrapper {
    display: flex;
    flex-direction: row;
}

svg {
     margin-bottom: -20px;
     adding: 0;
   
  }

.car-div {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px
  }


  input, button {
    /* height: 25px; */
    border-radius: 7px;
  }

  input {
    height: 25px;
  }

  button {
margin-right: 5px;
 padding-top: 5px;
  padding-right: 20px;
    margin-bottom: 10px;
    padding-left: 20px; 
    padding-bottom: 5px;
    background-color: rgb(241, 172, 172);
    border:transparent;
        transition: scale 0.5s;
      }

  button:hover {
    background-color: rgb(137, 206, 147);
    transform: scale(1.1);
  }

  .car-name {
    font-size: x-large;
    font-weight: bold;
    color: rgb(217, 247, 136);
    text-decoration: dotted;
  }

  .pagination {
    margin-top: 15px;
  }

  .page-indicator {
      padding-right: 15px;
    padding-left: 10px;
    }

  .hidden {
    display: none;
  }

  #popUp {
    position: fixed;
    top: 50%;
    left: 50%;  
    z-index: 999; 
    padding: 20px;
          color: white;
    background-color: rgba(0, 0, 0, 0.5);
       border-radius: 10px;
   transform: translate(-50%, -50%);
   }
   